.body_1 {
    background-color: #fff4cf;
    background-image: url('../img/green.jpg');
}

.body_2 {
    background-color: #fff4cf;
    background-image: url('../img/1939520.jpg');
}

#bgg{
    position: fixed;
    right: 0px;
    top: 0px;
}

#bgb{
    position: fixed;
    right: 0px;
    top: 28px;
}